@font-face {
	font-family: 'BetecknaLowerCase';
	src: url('fonts/BetecknaLowerCase.eot');
	src: local('☺'), url('fonts/BetecknaLowerCase.woff') format('woff'), url('fonts/BetecknaLowerCase.ttf') format('truetype'), url('fonts/BetecknaLowerCase.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/BetecknaLowerCase.eot');
  src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'), url('fonts/JosefinSansSemiBold.woff') format('woff'),  url('fonts/JosefinSansSemiBold.ttf') format('truetype') ;
}


h1 {
  font-family: 'BetecknaLowerCase';
  text-align: justify;
  text-justify: newspaper;
  font-size: 2.15rem;
}
p, ul li {
  font-family: 'Josefin Sans';
}


h3 {
  font-family: 'Josefin Sans';
  font-size: 1.5rem;
}

ul {
  list-style-type: circle;
}
/*
#contactinfo p {
  white-space: pre;    
}*/

#contactinfo {
  border: 0px;
}

#contactinfo tr td {
  font-family: 'BetecknaLowerCase';
/*  line-height: 32px; */
}


.panel {
  background-color: #eef2f6;
}
/*
 #b7c3cd;
.panel, .panel h3, .panel p {
  color: #e8dca6;
}
*/

.blogdate {
  font-family: 'BetecknaLowerCase';
  font-size: 0.75rem;
  margin-bottom: 0.625rem;
}

.blogtitle {
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}

.spacer {
  /* margin-bottom:1.8em; */
  margin-top: 1em;
}

.footer {
  margin-bottom:1.5em;
  margin-top: 1.5em;  
}

.footer a {
  font-family: 'Josefin Sans';
  font-size: 1.5rem;
  line-height: 40px;
}

.subscript {
  font-family: 'Josefin Sans';
  font-size: 0.75rem;
}


